torch
transformers
sentence-transformers
scikit-learn
numpy
pandas
matplotlib
seaborn
tqdm
datasets
accelerate
tokenizers
huggingface-hub
safetensors
regex
requests
urllib3
certifi
charset-normalizer
idna
packaging
pyyaml
filelock
fsspec
typing-extensions
sympy
networkx
jinja2
markupsafe
mpmath
pillow
python-dateutil
pytz
six
threadpoolctl
joblib
scipy
kiwisolver
pyparsing
cycler
fonttools
contourpy 